export(
  registerDoRedis,
  removeQueue,
  setChunkSize,
  setExport,
  startLocalWorkers,
  redisWorker,
  setTaskLabel,
  setGetTask,
  setTag,
  submit,
  print.doRedis_job,
  retrieve,
  retrieve.default,
  retrieve.doRedis_job,
  retrieve.foreach
)
import(foreach)
import(rredis)
import(iterators)
